@{
    ViewData["Title"] = "Strona główna";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Witaj w systemie ERP</h1>
            <p class="lead">System został uruchomiony pomyślnie.</p>
            <p>
                <a href="/Account/Login" class="btn btn-primary">Zaloguj się</a>
            </p>
        </div>
    </div>
</div>
